<body>
  <app-navbar></app-navbar>
  <!-- Image carousel of events below -->
  <app-carousel *ngIf="showCarousel"></app-carousel>
  <br>
  <section id="why" style="background-color:white;">
    <h1 class="text-center" style="color: black;">Why Athena?</h1>
    <br>
    <h4 class="text-center" style="color: black;">1Athena is a platform that allows students to find events, competitions and classes based on their interests, rather than their existing social circle, in order to give every student an equal opportunity to develop their skills.</h4>
    <br>
    <br>
    <h6 class="text-center" style="color: black;">Want to watch our full pitch? Check it out <a href="https://www.youtube.com/watch?v=Lmn6MzDVQsc">here</a> on YouTube</h6>
    <br>
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">A Repository and Showcase for your all your Achievements</h5>
              <p class="card-text">Store all your extracurricular accolades and certificates safely with us, so that you always have access to them. As Athena is a student focused site, you can also share information about your accolades with family and friends, allowing you to display the fruits of your hard work with elegance and ease.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Events based on what you like</h5>
              <p class="card-text">Were you always interested in something, but didn't have the necessary social connections to follow through? Not anymore. With Athena, we show you events based on your interests, rather than your existing social connections. Our proprietary DaVinci Recommendation Engine uses 17 unique data points to recommend the highest quality events.</p>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Open Source and Privacy Focused</h5>
              <p class="card-text">Our mission is not to profit from providing opportunities. That is why, we have open sourced all our code on <a href="https://github.com/1sigmoid/athena">GitHub</a> to allow anyone to build upon and improve Athena. We also only collect the minimum amount of data required to bring you the optimal experience.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Easy Advertising For Organizers</h5>
              <p class="card-text">Do you have trouble advertising your event to the right audience? With Athena, you can be sure that your event does not go unnoticed and has the highest turnout possible. Advertise your events to the right groups, and enroll interested candidates directly from our platform!</p>
            </div>
          </div>
        </div>
      </div>
      <br>
      <br>
    </div>
  </section>
  <!-- Our Team section -->
  <section id="team" class="pb-5">
    <div class="container">
      <h5 class="section-title h1">OUR TEAM</h5>
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
            <div class="mainflip">
              <div class="frontside">
                <div class="card">
                  <div class="card-body text-center">
                    <p><img class=" img-fluid"
                        src="./../../../../assets/images/anand.jpg" alt="card image">
                    </p>
                    <h4 class="card-title">Anand</h4>
                    <p class="card-text">Frontend Developer and AWS Expert</p>
                  </div>
                </div>
              </div>
              <div class="backside">
                <div class="card">
                  <div class="card-body text-center mt-4">
                    <h4 class="card-title">Anand Rajaram</h4>
                    <p class="card-text">Anand is an aspiring web developer who is skillful with HTML5, CSS3 and
                      Bootstrap, and also with frontend JavaScript frameworks like Angular 8. He is also fluent
                      in deployment of Angular Sites to S3.  He understands the key components of
                    User Experience and has designed many parts of the site adhering to them. </p>
                    <ul class="list-inline">
                      <li class="list-inline-item">
                        <a class="social-icon text-xs-center" target="_blank" href="#">
                          <i class="fa fa-facebook"></i>
                        </a>
                      </li>
                      <li class="list-inline-item">
                        <a class="social-icon text-xs-center" target="_blank" href="#">
                          <i class="fa fa-twitter"></i>
                        </a>
                      </li>
                      <li class="list-inline-item">
                        <a class="social-icon text-xs-center" target="_blank" href="#">
                          <i class="fa fa-skype"></i>
                        </a>
                      </li>
                      <li class="list-inline-item">
                        <a class="social-icon text-xs-center" target="_blank" href="#">
                          <i class="fa fa-google"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
            <div class="mainflip">
              <div class="frontside">
                <div class="card">
                  <div class="card-body text-center">
                    <p><img class=" img-fluid"
                        src="./../../../../assets/images/sumuk.jpg" alt="card image">
                    </p>
                    <h4 class="card-title">Sumuk</h4>
                    <p class="card-text">Backend Developer, Recommendations and Security Expert</p>
                  </div>
                </div>
              </div>
              <div class="backside">
                <div class="card">
                  <div class="card-body text-center mt-4">
                    <h4 class="card-title">Sumuk Shashidhar</h4>
                    <p class="card-text">Sumuk Shashidhar is a backend web developer who has an eye for detail. He is
                      extremely skillful with backend infrastructures like NodeJS and Express Frameworks, as well as a thorough understanding of NoSQL Databases.
                      He has experience with machine learning and recommendation models and has implemented many microservices, such as the proprietary DaVinci Recommendation algorithm, developed just for Athena. </p>
                    <ul class="list-inline">
                      <li class="list-inline-item">
                        <a class="social-icon text-xs-center" target="_blank" href="#">
                          <i class="fa fa-facebook"></i>
                        </a>
                      </li>
                      <li class="list-inline-item">
                        <a class="social-icon text-xs-center" target="_blank" href="#">
                          <i class="fa fa-twitter"></i>
                        </a>
                      </li>
                      <li class="list-inline-item">
                        <a class="social-icon text-xs-center" target="_blank" href="#">
                          <i class="fa fa-skype"></i>
                        </a>
                      </li>
                      <li class="list-inline-item">
                        <a class="social-icon text-xs-center" target="_blank" href="#">
                          <i class="fa fa-google"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
            <div class="mainflip">
              <div class="frontside">
                <div class="card">
                  <div class="card-body text-center">
                    <p><img class=" img-fluid"
                        src="./../../../../assets/images/anirudh.jpg" alt="card image">
                    </p>
                    <h4 class="card-title">Anirudh</h4>
                    <p class="card-text">Frontend Developer</p>
                  </div>
                </div>
              </div>
              <div class="backside">
                <div class="card">
                  <div class="card-body text-center mt-4">
                    <h4 class="card-title">Anirudh Lakhotia</h4>
                    <p class="card-text">Anirudh is a frontend web developer with an eye for detail. He is an extremely quick learner and has thorough experience with frontend authentication</p>
                    <ul class="list-inline">
                      <li class="list-inline-item">
                        <a class="social-icon text-xs-center" target="_blank" href="#">
                          <i class="fa fa-facebook"></i>
                        </a>
                      </li>
                      <li class="list-inline-item">
                        <a class="social-icon text-xs-center" target="_blank" href="#">
                          <i class="fa fa-twitter"></i>
                        </a>
                      </li>
                      <li class="list-inline-item">
                        <a class="social-icon text-xs-center" target="_blank" href="#">
                          <i class="fa fa-skype"></i>
                        </a>
                      </li>
                      <li class="list-inline-item">
                        <a class="social-icon text-xs-center" target="_blank" href="#">
                          <i class="fa fa-google"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="footer">
    <h1 class="text-center">Contact us here</h1>
    <p class="text-center">Email: developersatathena@gmail.com</p>
    <p class="text-center">GitHub: You can check out our contributions <a href="https://github.com/sumukshashidhar/athena-pvt/graphs/contributors">here</a>!</p>
    <p class="text-center">©2020 1athena. A subsidiary of <a href = "https://1sigmoid.ml">1sigmoid</a></p>
  </section>
</body>
